extends layout

block content
  h1= title
  p Hello, World! Welcome to #{title}
  
  - for (var x = 0; x < 3; x++)
    li #{x}

  each val in process.env
    li #{val}

  p Environment variable Foo #{process.env.FOO}
  